layout {
    border {
        active-color   "#cacb77"
        inactive-color "#939182"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cacb77"
        inactive-color "#939182"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cacb7780"
    }
}

